.footer {
  width: 100%;
  /* width: 1024px; */
  font-size: 12px;
}

.fLists {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-right: 10px;
}

.fList {
  list-style: none;
  padding: 0;
}

.fListItem {
  margin-bottom: 10px;
  color: #036942;
  cursor: pointer;
}

@media (max-width: 270px) {
  /* .headerBtn {
    /* Your styles for screens less than 640px wide */
  /* For example: 
    margin-left: 60px;
  } */
  .fList {
    font-size: xx-small;
  }
  /* .nameHeader {
    font-size: x-small;
  } */
}
