.input {
  background-color: whitesmoke;
  border-radius: 30px;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  border-color: transparent;
  border-width: 0;
}
.mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm {
  /* position: "absolute" !important; */
  left: calc(100% -200px) !important;
}
.containerDrawer {
  position: absolute;
}
.responsive-text {
  /* Set a default font size */
  font-size: 1rem;

  /* Use media queries to adjust the font size based on viewport width */
  @media (max-width: 600px) {
    font-size: 0.6rem;
  }

  @media (min-width: 601px) and (max-width: 1200px) {
    font-size: 0.8rem;
  }

  @media (min-width: 1201px) {
    font-size: 0.9rem;
  }
}
